.mensagem-container {
    width: 650px;
    height: 400px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: whitesmoke;
    overflow-y: auto;
    border-radius: 10px;
    margin:auto; 
    font-size: 14px;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
}
.mensagem-usuario {
    text-align: right;
    margin: 5px 0;
    padding: 10px;
    background-color: #dcf8c6;
    border-radius: 10px;
    max-width: 450px;
    display: inline-block;
    position: relative;
    font-size: 14px;
    word-wrap: break-word;
    margin-left: auto;
}

.mensagem-bot {
    text-align: left;
    margin: 5px 0;
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
    max-width: 450px;
    display: inline-block;
    position: relative;
    font-size: 14px;
    word-wrap: break-word;
    margin-right: auto;
}

small {
    display: block;
    color: #999;
    font-size: 12px;
    margin-top: 5px;
}
